spring:
  application:
    name: url-shortener

  datasource:
    url: jdbc:postgresql://localhost:5432/url_shortener
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
